server:
  port: 8088

spring:
  cloud:
    consul:
      host: consul
      port: 8500
      discovery: SERVICE-CLIENT
  application:
    name: SERVICE-CLIENT
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://mysql:3306/Micro_ClientDB?createDatabaseIfNotExist=true
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
